* {
  margin: 0;
  color: #04244b;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #cadbf0;
}

input {
  width: 100%;
  height: 35px;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #0c3c77;
  background-color: #abd0df;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 30px;
}

h2 {
  font-size: 30px;
}

.score {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.sect_one {
  width: 30%;
}

.refresh {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

button {
  width: 80px;
  height: 35px;
  color: #fff;
  border-radius: 50px;
  background-color: #0c3c77;
  border: 2px solid #0c3c77;
  box-shadow: 3px 3px 5px #0c3c77;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  color: #0c3c77;
  background-color: #fff;
}

.scores-container {
  width: 100%;
  border: 2px solid #0c3c77;
  border-collapse: collapse;
  display: none;
  padding: 15px;
  border-radius: 0.5em;
}

.scores-container p:nth-child(odd) {
  background-color: #85b8cc;
}

.scores-container p:nth-child(even) {
  background-color: #718de7;
}

.sect_two {
  width: 25%;
}

.add_score {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.error-msg {
  color: red;
  display: none;
  text-align: center;
  margin-top: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #0c3c77;
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.8em 0 0.8em;
  justify-content: center;
}
